body{
    background-color: #dbd8d8;
}
#heading{
    margin-top: 5%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120%;
    
}
.container{
    margin: auto;
    background-color: white;
    width: 45%;
    border-radius:5px;
    display:flex;
    align-items:center;
}
.container a{
    width:20%;
}
.container a img{
    padding: 3%;
    width:80%;
}
.user-info{
    padding:2%;
    width:80%;
}
.user-info a{
    text-decoration: none;
    color:black;
    font-size: 130%;
}
